<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLO-PREVENT</title>
</head>
<body>
    <h1>Colo-prevent supplies management</h1>
    <form method="POST" action="{{url_for('success')}}">
   
    <div class="basic_fields">
        {{ form.csrf_token }}
        {% for fields in form.more_fields %}
            {{fields.form.equipment.label}} {{fields.form.equipment}}
            {{fields.form.batch_number.label}} {{fields.form.batch_number}}
            {{fields.form.disposal_date.label}} {{fields.form.disposal_date}}
            {{form.submit}}
            {{form.edit}}
            {{form.delete}}
            <br>
           
        
        {% endfor %}
       
       

</div>
    </form>
</body>
</html>